
.hero {
  padding:5%;
  background-image: url(https://preview.redd.it/5zlkur1f7v931.png?width=640&crop=smart&auto=webp&s=85a3bfa81fe70ecaef7d0fe387b667eb499593aa);
  background-size: fill;
 
}

.boss{
  height: 300px;
  width: 300px

}

img{
  height: 75px;
  width: 75px;
}